<h1>About sketchroute</h1>
<div style="float: left;width:70%;">
<p>
    After beginning to run less than a year ago I quickly realized that to keep things interesting I needed to vary my routes. Searching online I found
    several very nice tools for mapping out my routes but they were all cluttered with to many features and other content that only seemed to get in my way.
</p>
<p>
    I built sketchroute so that I'd have a very focused tool for creating, saving, and sharing routes. It is very feature light and has very little clutter to stand
    in your way. I've found it useful so I decided to make it public to see if others would like it as well.
</p>
<p>
    Using it is as simple as navigating to a location of your choosing and then simply begin clicking where you'd like to plot your route. If you would like the capability
    to save your routes you can register and login. If you'd rather not register you can simply use the functionality to create a public link and bookmark that link for
    future reference. If you have any additional feedback please use the link in the footer or email me at 
    <a href="mailto:adam.miller@bitcohesion.com&subject=sketchroute-feedback">adam.miller@bitcohesion.com</a>
</p>
</div>
<div style="float:right">
    <script src="http://widgets.twimg.com/j/2/widget.js"></script>
    <script>
    new TWTR.Widget({
      version: 2,
        type: 'profile',
          rpp: 4,
            interval: 6000,
              width: 250,
                height: 300,
                  theme: {
                      shell: {
                            background: '#333333',
                                  color: '#ffffff'
                                      },
                                          tweets: {
                                                background: '#000000',
                                                      color: '#ffffff',
                                                            links: '#4aed05'
                                                                }
                                                                  },
                                                                    features: {
                                                                        scrollbar: true,
                                                                            loop: false,
                                                                                live: true,
                                                                                    hashtags: true,
                                                                                        timestamp: true,
                                                                                            avatars: true,
                                                                                                behavior: 'all'
                                                                                                  }
                                                                                                  }).render().setUser('sketchroute').start();
                                                                                                  </script>
</div>
