<h1>Features</h1>
<h3>sketchroute description</h3>
<p>
    SketchRoute is a tool focused on mapping (or plotting) routes and sharing those routes with others. It is a great tool
    for runners, joggers, walkers, and cyclists. It provides a distance calculator to tell you how far your route is in
    kilometers or miles. You can draw your route free-form or use the snap to street functionality to make it quick to draw
    complicated routes using the most effective path available from point to point.
<p>
<h3>sketchroute feature list</h3>
<p>
    <ul class="list">
        <li>point and click routing tool</li>
        <li>easily jump to location</li>
        <li>distance calculator in miles and kilometers</li>
        <li>mile/kilometer markers along route</li>
        <li>register and save a list of your favorite routes</li>
        <li>snap to street drawing mode</li>
        <li>create publicly available link to route for saving or sharing with friends</li>
        <li>easy undo and reset</li>
        <li>simple to use and very lightweight</li>
    </ul>
</p>
<h3>sketchroute upcoming features to include</h3>
<p>
    <ul class="list">
        <li>GPX integration for reading and writing your routes to the GPX file format</li>
        <li>Integration with <a href="http://twitter.com">Twitter</a> and <a href="http://facebook.com">Facebook</a></li>
        <li>and many more...</li>
    </ul>
</p>
<h3>similar sites to sketchroute include</h3>
<p>
    <ul class="list">
        <li><a href="http://www.gmap-pedometer.com/">gmaps pedometer</a></li>
        <li><a href="http://www.mapmyrun.com/">Map My Run</a></li>
        <li><a href="http://www.walkjogrun.net/">Walk Jog Run</a></li>
        <li><a href="http://www.dailymile.com">Daily Mile</a></li>
    </ul>
</p>
<p>
    If there are any features that you believe are missing please use the feedback link below to let us know!
</p>
