<h3>Feedback</h3>
<form method="post" action="/feedback">
<p>
    <textarea id="message" name="message" cols="40" rows="6"></textarea>
</p>
<p>
    <input type="submit" id="submit" value="Submit" />&nbsp;<input type="button" class="cancel-modal" value="Cancel" />
</p>
</form>
