<div id="main">
    <div id="getting-started" style="display:none;">
        <h1>Welcome to sketchroute! Follow these simple steps to begin mapping your routes for running, jogging, walking, and cycling</h1>
        <p>
            To get started using sketchroute simply:
            <ol>
                <li>Find your desired location on the map by interacting with the map or using the jump to location textbox on the right</li>
                <li>Click on the map to start plotting points and draw your route</li>
                <li>Use the menu on the right to create a public link to the route to share it with your friends!</li>
            </ol>
        </p>
        <p>
            <a id="close-getting-started" alt="nofollow" href="#">Close this message</a>
        </p>
    </div>
    <div id="map-info">
        <div id="total-distance">0.000 miles</div> 
        <div id="top-actions">
            <a target="_blank" href="http://teamloopapp.com" border="0"><img src="/images/teamloop_ad.png" alt="teamloop - simple team management" style="height:46px;width:494px" /></a>
        </div>
    </div>
    <div id="main-map">
        <div id="map-canvas"></div>
        <div id="map-options">
            <h3><span>Map Menu</span></h3>
            <div id="user-options">
                <ul>
                    <li>
                        <span id="jump-location">
                            <input type="text" id="location" Placeholder="Type address to jump to location" />&nbsp;<input type="button" id="goto-location" value="Go" />
                        </span>
                    </li>
                    <% if authorized? %> 
                    <li><a rel="nofollow" id="save-route" href="/routes/new"><span>Save Route</span></a></li>
                    <li><a rel="nofolllow" id="my-routes" href="/routes"><span>My Routes</span></a></li>
                    <% end %>
                    <li><a rel="nofollow" id="save-public-route" href="/public/routes/new"><span>Create Public Link to Route</span></a></li>
                    <li><a rel="nofollow" id="undo" href="#"><span>Undo Last Marker</span></a></li>
                    <li><a rel="nofollow" id="clear-map" href="/"><span>Clear Map</span></a></li>
                    <li id="unit-item">
                        <div id="units" class="radio-options">
                            <input type="radio" id="unit-miles" value="miles" name="unit" checked="checked" /><label for="unit-miles">Imperial</label>&nbsp;
                            <input type="radio" id="unit-kilometers" value="kilometers" name="unit" /><label for="unit-kilometers">Metric</label>
                        </div>
                    </li>
                    <li id="snaptostreet-item">
                        <div id="snaptostreet" class="radio-options">
                            <input type="radio" id="draw-freeform" value="freeform" name="drawmode" checked="checked" /><label for="draw-freeform">Free-Form</label>&nbsp;
                            <input type="radio" id="draw-snaptostreet" value="snaptostreet" name="drawmode" /><label for="draw-snaptostreet">Snap to Street</label>
                        </div>
                    </li>
                </ul>
            </div>
            <div id="elevation" style="display:none;">
                <h3><span id="elevation_title">Route Elevation</span>&nbsp;<span id="elevation_info"></span></h3>
                <div id="elevation_stats"></div>
                <div id="elevation_chart"></div>
            </div>
            <div id="ads">
            </div>
        </div>
    </div>
</div>
<% if !@route.nil? %>
<script type="text/javascript">
<!--
var public_route_points = eval('[<%= @route["points"]%>]');
-->
</script>
<% end %>
