<!DOCTYPE html>
<html xmlns:og="http://opengraphprotocol.org/schema/"
    xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
    <title>sketchroute - map routes for running, jogging, walking, biking...</title>
    <meta name="Description" content="SketchRoute is a tool for mapping and sharing routes for running, jogging, walking, and cycling in your area. It makes it simple to calculate the distance of your routes to know exactly how far you ran and give you a picture of the elevation of your routes." />
    <meta name="Keywords" content="running,routes,plot,exercise,sketchroute,sketch,route,sharing,walking,biking,cycling,elevation,jogging,distance,calculator" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
    <meta property="og:title" content="sketchroute" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://sketchroute.com" />
    <meta property="og:image" content="http://sketchroute.com/images/sketchroute.png" />
    <meta property="fb:admins" content="629773575" />
    <meta property="og:description" content="SketchRoute is a tool for mapping and sharing routes for running, jogging, walking, and cycling in your area." />
    <meta name="google-site-verification" content="ynftNopSpahnGNAukNZROhVQ94d9Y-3RRUmWf0zGejg" />
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/base-0.0.3.css" />
    <link rel="stylesheet" type="text/css" href="/css/label-overlay.css" />
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&key=AIzaSyCIarElb8cxHm1s6YFJprMeDaaoCbBVVEM" type="text/javascript"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/spherical_formulas.js"></script>
    <script type="text/javascript" src="/scripts/label-overlay.js"></script>
    <script type="text/javascript" src="/scripts/sketchroute_maps_v0.0.2.js"></script>
    <script type="text/javascript" src="/scripts/sketchroute_gmaps_v0.0.2.js"></script>
    <script type="text/javascript" src="/scripts/base-0.2.0.js"></script>
    <script type="text/javascript" src="/scripts/jquery.simplemodal-1.3.5.min.js"></script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-4087478-9']);
        _gaq.push(['_setDomainName', '.sketchroute.com']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body onunload="GUnload()">
    <div id="header">
        <div id="header-content">
            <div id="header-titles">
                <h1 id="title"><a href="/">sketch route</a></h1>
                <h3 id="subtitle">easily map routes for running, jogging, walking, cycling...</h3>
            </div>
            <div id="session-info">
                <% if @authenticated %>
                    <span>Welcome back, <%= get_user_name()%>.</span>&nbsp;<a href="/session/destroy">logout</a>
                <% else %>
                    <a id="register" href="/user/new">register</a>&nbsp;|&nbsp;<a rel="nofollow" id="login" href="/session/new">login</a>
                <% end %>
            </div>
        </div>
    </div>
    <div id="main-content">
        <div id="system-messages">
            <div class="notice" style="display: none;">
            </div>
        </div>
        <div id="user-messages">
            <% if !flash[:notice].nil? %>
            <div id="notice">
                <%= flash[:notice] %>
            </div>
            <% end %>
            <% if !flash[:error].nil? %>
            <div id="error">
                <%= flash[:error] %>
            </div>
            <% end %>
            <% if !flash[:success].nil? %>
            <div id="success">
                <%= flash[:success] %>
            </div>
            <%end%>
        </div>
        <%= yield %>
    </div>
    <div id="footer">
        <div id="footer-content">
            <p>
                <a href="http://astore.amazon.com/sketchroute-20" target="_blank">SketchRoute Store</a>&nbsp;|&nbsp;<a href="http://blog.sketchroute.com" target="_blank">SketchRoute Blog</a>&nbsp;|&nbsp;<a href="/about">About SketchRoute</a>&nbsp;|&nbsp;<a href="/features">SketchRoute Features</a>&nbsp;|&nbsp;<a rel="nofollow" href="/feedback/new" id="feedback">Leave Feedback</a>
            </p>
            <p>
                <a href="http://twitter.com/share" class="twitter-share-button" data-text="#sketchroute" data-count="horizontal" data-via="sketchroute" data-related="akmiller78:Developer">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script> 
                <fb:like href="http://sketchroute.com" layout="button_count" show-faces="false" width= "80" action="recommend" colorscheme="light"></fb:like>
            </p>
            <p>website by <a href="http://bitcohesion.com">bit|cohesion</a> // sketchroute v0.5 (C) 2010</p>
        </div>
    </div>
    <div id="fb-root"></div>
    <script type="text/javascript">
        window.fbAsyncInit = function() {
            FB.init({
                status: true,
                cookie: true,
                xfbml: true
            });
        };

        (function() {
            var e = document.createElement('script');
            e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
            e.async = true;
            document.getElementById('fb-root').appendChild(e);
        }());
    </script>
</body>
</html>
