<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/base-0.0.1.css" />
</head>
<body class="modal">
    <%= yield %>
</body>
</html>
