<div id="routes">
    <h1>My Routes</h1>
    <div id="route-list">
    <ul>
        <% if @routes.count() == 0 %>
            <li>You have no saved routes</li>
        <% else %>
            <% @routes.each do |route| %>
                <li><a class="route-link" href="/routes/<%= route["_id"] %>"><%= route["name"] %>&nbsp;<em>(<%= route["distance"]%> mi., <%= ((route["distance"].to_f * 1.609344) * 1000).round.to_f / 1000%> km)</em></a>&nbsp;<a class="delete-route" href="/routes/<%= route["_id"]%>">delete</a></li>
            <% end %>
        <% end %>
    </ul>
    </div>
    <div class="clear">
    <input type="button" id="close" value="Close" />
    </div>
</div>
