<h3>Create Public Route</h3>
<fieldset>
<form action="/routes" method="post">
    <p>
        Click create below to generate a url that can be used to access and share this route with others.
    </p>
    <p>&nbsp;</p>
    <p>
        <input type="hidden" id="public" name="public" value="true" />
        <input type="hidden" id="distance" name="distance" />
        <input type="hidden" id="points" name="points" />
        <input type="submit" value="Create" />&nbsp;<input type="button" value="Cancel" id="cancel_save" />
    </p>
</form>
</fieldset>
