<h3>Save Route</h3>
<fieldset>
<form action="/routes" method="post">
    <p>
        <label for="name">Route Name</label><br/>
        <input type="text" id="name" name="name" class="text"/>
    </p>
    <p>
        <em>Distance:&nbsp;<span id="distance-label"></span></em>
    </p>
    <p>&nbsp;</p>
    <p>
        <input type="hidden" id="distance" name="distance" />
        <input type="hidden" id="points" name="points" />
        <input type="submit" value="Save" />&nbsp;<input type="button" value="Cancel" id="cancel_save" />
    </p>
</form>
</fieldset>
