<h3>Login</h3>
<fieldset>
<form action="/session" method="post">
    <p>
        <label for="email">Email</label><br/>
        <input type="text" id="email" name="email" class="text"/>
    </p>
    <p>
        <label for="password">Password</label><br/>
        <input type="password" id="password" name="password" class="text"/>
    </p>
    <p>
        <input type="submit" value="Login" />&nbsp;<input type="button" value="Cancel" id="cancel_login" class="cancel-modal" />
    </p>
    </form>
</fieldset>
