<h3>Stats</h3>
<table cellspacing="5" cellpadding="5" style="width:300px;" border="1">
    <tr style="background-color: #ccc;">
        <td>Users</td>
        <td><%= @user_count%></td>
    </tr>
    <tr>
        <td>Routes</td>
        <td><%= @route_count%></td>
    </tr>
    <tr style="background-color:#ccc;">
        <td>Public Routes</td>
        <td><%= @public_route_count%></td>
    </tr>
</table>
