<h3>Register</h3>
<fieldset>
    <form action="/user" method="post">
        <p>
            <label for="firstname">First Name</label><br/>
            <input type="text" id="first_name" name="first_name" class="text"/>
        </p>
        <p>
            <label for="email">Email</label><br/>
            <input type="text" id="email" name="email" class="text"/>
        </p>
        <p>
            <label for="password">Password</label><br/>
            <input type="password" id="password" name="password" class="text"/>
        </p>
        <p>
            <label for="password">Confirm Password</label><br/>
            <input type="password" id="password_confirm" name="password_confirm" class="text"/>
        </p>
        <p>
            <input type="submit" value="Register" />&nbsp;<input type="button" value="Cancel" id="cancel_register" class="cancel-modal" />
        </p>
    </form>
</fieldset>
