html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 20px;
    background-color: #fff;
    font-family: Tahoma, Arial;
    min-height: 600px;
}

.clear { clear: both; }

a {
    color: #4c4a41;
}

a:hover {
    color: #333;
}

p {
    margin: 0.5em 0;
    line-height: 1.2em;
}

input.text {
    padding: 0.35em 0.35em;
    font-size: 1.2em;
    border: solid 2px #999;
    min-width: 300px;
}

button,
input[type=submit],
input[type=button] {
    padding: 6px 8px;
}

h1 { font-size: 1.4em; margin: 0 0 0.5em 0; }

h3 { font-size: 1.2em; margin: 0 0 0.5em 0; }

#header a {
    color: #f3fae4;
}

#simplemodal-overlay {background-color:#000;}
#simplemodal-container {background-color:#333; border:8px solid #444; padding:12px;}

.modal {
    padding: 1em 1em;
    z-index: 1005;
    background-color: #333;
    color: #fff;
}

h1#title { margin: 0; }
h1#title a {
    font-size: 1.2em;
    color: #fff;
    text-decoration: none;
}
h3#subtitle {
    /*color: #004a66;*/
    color: #f3fae4;
    font-size: 1em;
    font-weight: normal;
}

#header {
    /* background-color: #00adec;*/
    background-color: #4C4A41;
    float: left;
    clear: both;
    height: 4em;
    color: #fefefe;
    width: 100%;
    margin-bottom: 1em;
}

#header-content {
    padding: 0;
   margin: 0 3%;
   width: 94%;
   clear: both;
   min-width: 960px;
}

#header-titles {
    float: left;
    padding-top: 0.4em;
}

#session-info {
    float: right;
    padding-top: 0.4em;
}

#main-content {
    margin: 0 3%;
    width: 94%;
    float: left;
    clear: both;
    min-width: 960px;
}

#main {
    float: left;
    width: 100%;
}

#secondary {
    float: left;
    width: 20%;
}

#footer {
    margin: 0 3%;
    width: 94%;
    clear: both;
    min-width: 960px;
}

#footer-content {
    width: 100%;
    text-align: center;
    font-size: 10pt;
}

#footer-content p {
    padding: 14px 0 0 0;
}

#user-messages {
    margin: 0.25em 0;
    clear: both;
    width: 100%;
}

#user-messages #success {
    border: solid 2px #c6d880;
    background-color: #e6efc2;
    color: #264409;
    padding: 0.2em 0.5em;
}

#user-messages #error {
    border: solid 2px #fbc2c4;
    background-color: #fbe3e4;
    color: #8a1f11;
    padding: 0.2em 0.5em;
}

#user-messages #notice {
    border: solid 2px #ffd324;
    background-color: #fff6bf;
    color: #514721;
    padding: 0.2em 0.5em;
}

#system-messages .notice {
    border: solid 2px #ffd324;
    background-color: #fff6bf;
    color: #514721;
    padding: 0.2em 0.5em;
}

#map-info {
    height: 2.25em;
}

#map-stuff {
    
}

#main-map {
    border: solid 3px #b4baa7;
    width: 100%;
    height: 600px;
    float: left;
    background-color: #b4baa7;
    clear: both;
}

#map-options {
    float: left;
    width: 24.8%;
    _width: 24.5%;
    height: 100%;
    background-color: #efefef;
    border-left: solid 2px #b4baa7;
}

#map-options h3 {
    margin: 0;
    width: 100%;
    padding: 14px 0;
    background-color: #4c4a41;
    color: #fff;
    font-size: 12pt;
}

#map-options h3 span {
    padding: 0 8px;
}

#total-distance {
    float: left;
    font-size: 1.6em;
    height: 100%;
    font-weight: bold;
    padding: 0.3em 1em 0.1em 1em;
    border-right: solid 3px #b4baa7;
    border-left: solid 3px #b4baa7;
    border-top: solid 3px #b4baa7;
    font-family: Arial, Helvetica;
}

#top-actions {
    float: right;
    max-height: 2.25em;
}

#jump-location {
    display: block;
    float: left;
    width: 95%;
    margin: 4px 6px 4px 14px;
}

#location {
    padding: 4px 0px; 
    border: solid 2px #b4baa7;
    width: 75%;
    font-size: 10pt;
}

#goto-location {
    padding: 4px 0px;
    width: 15%;
}

#map-canvas {
    width: 75%;
    height: 100%;
    float: left;
}

#elevation {
    width: 100%;
    float: left;
    clear: both;
    background-color: #fff;
}

#elevation_chart { 
    margin-top: 0.25em 0; 
}

#elevation_stats {
    background-color: #c4dff1;
    padding: 0.15em 0.25em 0.15em 0.75em;
    font-size: 10pt;
}

#user-options ul {
    margin: 0; padding: 0;
    list-style: none;
    float: left;
    width: 100%;
}

#user-options ul li {
    display: block;
    float: left;
    clear: both;
    border-bottom: dotted 1px #999;
    width: 100%;
    font-size: 11pt;
}

#user-options ul li a {
    display: block;
    padding: 0.25em 0em;
    color: #4c4a41;
    text-decoration: none;
}

#user-options ul li .radio-options {
    color: #4c4a41;
    padding: 0.25em 0em 0.25em 0.3em;
}

#user-options ul li a:hover {
    color: #000;
}

#user-options ul li a span {
    display: block;
    padding: 0.3em 1em;
}

#routes {
    min-width: 300px;
    min-height: 400px;
}

#routes h1 {
    float: left;
}

#route-list {
    float: left;
    width: 90%;
    height: 300px;
    overflow: auto;
    margin: 1em 0;
    border: solid 1px #ccc;
}

#routes ul,
#routes ul li {
    display: block;
    float: left;
    clear: both;
    width: 97%;
}

#routes ul {
}

#routes ul li {
    padding: 0.5em 0.5em;
    border-bottom: dotted 1px #ccc;
}

#routes ul li a {
    color: #eee;
    font-size: 11pt;
    display: block;
    float: left;
    width: 100%;
    padding: 0; margin: 0;
}

#routes ul li a:hover {
    color: #777;
}

#routes a.delete-route {
    color: #bb3333;
    font-size: 10pt;
    width: auto;
    padding: 0.25em 0.15em;
    margin-top: 0.25em;
}

#routes a.delete-route:hover { background-color: #883333; color: #fff; }

#getting-started {
    background-color: #efefef;
    border: solid 1px #ddd;
    padding: 0.25em;
    margin-bottom: 1em;
}

#getting-started ol {
    margin-left: 1.5em;
    padding-left: 0px;
}

#getting-started ol li {
    list-style: decimal;
    padding-left: 0em;
}

ul.list {
    margin-left: 1.5em;
}
ul.list,
ul.list li {
    list-style: circle;
}

#ads {
    width: 100%;
}
